/* Author: Emad Riyaz Ahamed */

/* ~~~~~~~~~~ reset ~~~~~~~~~~ */
* {
    margin: 0;
    padding: 0;
    border: none;
    box-sizing: border-box;
}
/* ~~~~~~~~~~ reset ~~~~~~~~~~ */

/* ~~~~~~~~~~ header ~~~~~~~~~~ */
#header-container {
    /* centres content and spreads it out */
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: teal;
    padding: 1rem;
}

#logo {
    font-size: 1.5rem;
    font-family: "Arial Black", serif;
    padding: 0;
}

#hamburger {
    font-size: 2rem;
    cursor: pointer;
    /* makes it a block element */
    display: block;
}
/* ~~~~~~~~~~ header ~~~~~~~~~~ */

/* ~~~~~~~~~~ content ~~~~~~~~~~ */
body {
    font-family: Arial, sans-serif;
    color: black;
}

main {
    background-color: wheat;
}

strong {
    font-size: 3rem;
}

figcaption a {
    text-decoration: none;
    font-weight: bold;
    color: black;
}

a:hover {
    color: #333333;
}
/* ~~~~~~~~~~ content ~~~~~~~~~~ */

/* ~~~~~~~~~~ navigation ~~~~~~~~~~ */
li a {
    color: black;
    text-decoration: none;
    transition: 0.2s;
}

#header-nav-links {
    display: none;
}

#header-nav {
    display: flex;
    align-items: end;
    flex-direction: column;
    width: 100%;
}

#header-nav ul {
    display: flex;
    list-style-type: none;
    width: 100%;
    text-align: center;
}

#header-nav li {
    padding-bottom: 0.5rem;
}

#header-nav li a {
    font-size: 1.2rem;
    font-weight: bold;
}

#footer-nav ul {
    display: flex;
    list-style: none;
    flex-direction: column;
    align-items: center;
}

#footer-nav li {
    padding-bottom:0.5rem;
    font-size: 1.1rem;
}
/* ~~~~~~~~~~ navigation ~~~~~~~~~~ */

/* ~~~~~~~~~~ Footer ~~~~~~~~~~ */
#copyright {
    text-align: center;
    font-size: 1rem;
    padding: 0.5rem 0 0;
}

#footer-container {
    /* spreads out content in a column */
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: coral;
    padding: 1rem;
}
/* ~~~~~~~~~~ Footer ~~~~~~~~~~ */

/* ~~~~~~~~~~ media ~~~~~~~~~~ */
@media screen and (min-width: 600px) {
    #hamburger {
        display: none;
    }

    #header-nav-links {
        justify-content: flex-end;
        width: auto;
    }

    #header-nav li {
        padding-left: 1rem;
        padding-bottom: 0;
    }

    #footer-container {
        align-items: center;
        background-color: coral;
        flex-direction: row;
        flex-wrap: wrap;
    }

    #footer-nav ul {
        justify-content: flex-start;
        list-style: none;
        flex-direction: row;
    }

    #footer-nav li {
        padding-right: 1rem;
        padding-bottom:0;
    }

    #copyright {
        text-align: right;
        padding-top: 0;
    }
}
/* ~~~~~~~~~~ media ~~~~~~~~~~ */