/* Author: Emad Riyaz Ahamed */

/* ~~~~~~~~~~ content ~~~~~~~~~~ */
#main-container {
    padding: 1rem 1rem 0.5rem;
    font-size: 1.1rem;
}

#main-container a {
    text-decoration: none;
    font-weight: bold;
    color: black;
}

p {
    padding: 0.25rem 0 0.75rem;
}

hr {
    /* ensures that hr is only a solid block line and auto centred */
    border: none;
    border-top: 10px solid #333333;
    width: 80%;
    margin: 1rem auto 0;
    padding-bottom: 2rem;
}

h1 {
    margin-top: 0;
    margin-bottom: 0.5rem;
    text-align: center;
    text-decoration: underline;
}

h2 {
    text-align: center;
    text-decoration: none;
}

figure {
    font-size: 0.75rem;
    margin: 1.25rem;
}

img {
    /* styles the image and limits width and makes responsive */
    width: 100%;
    height: auto;
    max-width: 750px;
    border: none;
    border-radius: 0.5rem;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.images {
    /* makes image mobile first responsive */
    display: flex;
    flex-direction: column;
}
/* ~~~~~~~~~~ content ~~~~~~~~~~ */

/* ~~~~~~~~~~ media ~~~~~~~~~~ */
@media screen and (min-width: 600px) {
    .images {
        flex-direction: row;
    }

    h2 {
        text-decoration: underline;
    }

    figure {
        font-size: 0.75rem;
        margin: 1.5rem;
    }
}
/* ~~~~~~~~~~ media ~~~~~~~~~~ */