/* Author: Emad Riyaz Ahamed */

/* ~~~~~~~~~~ containers ~~~~~~~~~~ */
#testing-page {
    /* centres content and limits width to 90% */
    width: auto;
    max-width: 90%;
    background-color: white;
    color: #333333;
    padding: 1rem;
    margin-top: 1rem;
    margin-bottom: 1rem;
    border-radius: 1rem;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

#main-container {
    /* centres content */
    display: flex;
    justify-content: center;
    align-items: center;
}

figure {
    font-size: 0.75rem;
    margin: 0 0.5rem 0.5rem;
}

img {
    /* makes images responsive with automatic height */
    width: 100%;
    height: auto;
    max-width: 750px;
    border-radius: 0.5rem;
}

#wave-accessibility {
    /* ensures this is met */
    margin-bottom: 0 !important;
}

#mobile-images {
    /* makes images responsive */
    display: flex;
    flex-direction: column;
}
/* ~~~~~~~~~~ containers ~~~~~~~~~~ */

/* ~~~~~~~~~~ content ~~~~~~~~~~ */
#testing-page ul, p {
    font-size: 0.7rem;
    padding-left: 0.5rem;
    padding-bottom: 0.5rem;
}

li {
    padding-bottom: 0.2rem;
}

#main-container a {
    text-decoration: none;
    font-weight: bold;
    color: black;
}

h1 {
    text-align: center;
    text-decoration: underline;
    margin-top: 0;
    margin-bottom: 0.3rem;
    font-size: 1rem;
}


h2 {
    text-align: center;
    text-decoration: none;
    font-size: 0.9rem;
    padding-bottom: 0.2rem;
}


h3 {
    font-size: 0.8rem;
    padding-bottom: 0.3rem;
}


a {
    text-decoration: none;
}

figcaption {
    font-weight: bold;
}
/* ~~~~~~~~~~ content ~~~~~~~~~~ */

/* ~~~~~~~~~~ media ~~~~~~~~~~ */
@media screen and (min-width: 600px) {
    #mobile-images{
        flex-direction: row;
    }

    #testing-page {
        margin-top: 4rem;
        margin-bottom: 4rem;
    }
}
/* ~~~~~~~~~~ media ~~~~~~~~~~ */